<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dating Form</title>
    <style>
      body{
        padding: 50px;
      }
      input{
        margin: 20px 10px;
      }
    label{
      width: 100px;
      display: inline-block;
    }
    </style>
  </head>
  <body>
    <form action="/profile">

      <label for="name">Name</label>
      <input  name="name"><br>

      <label for="sex">Sex</label>
      <input name="sex"><br>

      <label for="occupation">Occupation</label>
      <input name="occupation"><br>

      <label for="lookingFor">Looking for:</label>
      <input name="lookingFor"><br>

      <label for="">Picture</label>
      <input name="picture"><br>
      
      <button type="submit">Create Profile</button>
    </form>

  </body>
</html>
